:root{
  --bronze: #c9a564;
  --brown-brush: #a0522d;
  --background: #f8f4ec;
  --orange-highlight: #ffa500;
  --dark-chocolate: #d2691e;
  --font-dancing-script: "Dancing Script", cursive;
  --dark:black;
  --font-bodoni:'bodoni';
  --font-roboto:'roboto', sans-serif;
}
*, body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* specialclasses special classes or whole classes */
body{
  font-family: var(--font-bodoni) ;
  font-weight: 300;
}
a, button{
  color: inherit;
}
#header span, .navbtn, .shopping, #menu h4{
  cursor: pointer;
  transition: all 0.2s;
}
h1{
  color: var(--dark-chocolate);
  text-transform: uppercase;
  font-size: 22px;
}
h3{
  font-size: 17px;
}
h4{
  font-size:19px
}
h1, h3{
  font-family: var(--font-roboto);
}
img{
  width: 80%;
}
section > .container-fluid{
  padding:3% 7%;
}
.sectionAnimation{
  scroll-behavior: smooth;
  animation: backInLeft;
  animation-duration: 2.0s;
}
.sectionAnimationRight{
  scroll-behavior: smooth;
  animation: backInRight;
  animation-duration: 1.5s;
}
/* navbar navbar */
.navbtn, .shopping{
  background: var(--background);
  border-radius: 40px;
  border: none;
  color: var(--orange-highlight);
 
}
.navbtn{
  font-family: var(--font-dancing-script);
  display: flex;
  gap:2px;
  align-items: center;
  padding: 7px 22px;
}
.shopping{
  padding: 7px 14px;
}
.shopping:hover,.navbtn:hover{
  background: var(--orange-highlight);
  color: var(--background);
}
.navM{
  color: var(--dark);
}
.navbtn>span, .shopping{
  font-size: 30px;
}
.navLogo{
  width: 35%;
}
@media (max-width:750px) {
  .navbtn{
    padding:6px 10px;
  }
  .navbtn>span, .shopping{
    font-size: 20px;
  }
  .navLogo{
    width: 30%;
  }
  #header{
    max-height: 70vh;
  }
}
/* header header */
#header{
  /* background-image: url('./assets/demopic.jpeg'); */
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  
}
#header span{
  background: var(--background);
  padding: 3px;
  border-radius: 5px;
  color: var(--brown-brush);
}
#header span:hover{
  background: var(--brown-brush);
  color: var(--background);
}
#header > div, .content{
  height: 100%;
  width: 100%;
  backdrop-filter:blur(7px);
}
/* about about about */
#about button, #menu button, .product a{
  background: var(--orange-highlight);
  padding: 7px;
  border: none;
  border-radius:5px;
  text-decoration: none;
}
#about img{
  box-shadow: 5px 5px var(--background);
  border-radius: 20px;

  text-align: center;
}


/* menu menu */
#menu .container-fluid{
  background: var(--background);
}
.menu-active{
  display: inline-block;
  background: var(--background);
  color: var(--bronze);
  border-radius: 7px 7px 0px 0px;
  
}
#menu h4{
  padding:10px 20px;
  margin: 0;
}
.product{
 padding: 20px;
 background: white;
 border-radius: 8px;
 margin-bottom: 30px;
 color: black;

}
.product-image{
  margin-bottom: 20px;
}
.product img{
  width:40%;
}
.product h3{
  color: var(--brown-brush);
}



/* footer footer */
#footer{
  background: var(--brown-brush);
}
footer h3{
  color: var(--dark-chocolate);
}
footer a{
  text-decoration: none;
}




/* video vdieo vide */
/* VideoBackground.css */
.video-background {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video-background video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1; /* Puts the video behind the content */
}

.content {
  position: relative;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10% 15%;
  text-align: left;
  z-index: 1; /* Ensures content appears over the video */
}

/* sign user sign user */
#sign-user img{
  width: 10%;
}
#sign-user form{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  cursor: pointer;
}
#sign-user form > input, #sign-user button{
  padding:10px 5px;
  border-radius: 5px;
}
#sign-user form > button{
  background: var(--brown-brush);
  color:var(--background);
  border: none;
}

#sign-user{
  background: var(--background);
  font-family: var(--font-roboto);
  min-height: 100dvh;
  
  
}
#sign-user .return {
  text-decoration: none;
  color: var(--dark-chocolate);
  font-size: 20px;
  border: none;
  background: transparent;
}
.googlebtn{
  width:100%;
  background: var(--dark);
  color: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  font-size: large;
}
/* id section id section id section */
#idSection{
  height: 20vh;
}
#idTemp{
  background: white;
}
#idTemp img{
  width: 60%;
  
}
.tempImg{
  
}
.tempProduct,.tempImg{
  padding:30px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}
.tempProduct{
  background: var(--background);
  flex-direction: column;
}
.tempProduct > div{
  background: white;
  padding: 20px;
  border-radius: 20px;
}
.cart-call {
 
  font-size: 30px;
}
/* .cart-call a{
  border: solid 1px var(--brown-brush);
  padding: 5px;
} */
.cart-call, .cart-btn, .dis-cart-btn{
  border-radius: 5px;
  width: 100%;
}
.cart-btn{
  background: var(--brown-brush);
  color:var(--background);
}
.cart-btn, .dis-cart-btn{
  border: none;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: not-allowed;
}
.dis-cart-btn{
  background: var(--background);
}
